<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ModuleMapper">
	<!-- 批量删除记录 -->
	<delete id="deleteModule">
		delete from modules
		where modId in
		<foreach collection="list" open="(" close=")" separator=","
			item="modId">
			#{modId}
		</foreach>
	</delete>
	<!-- 搜索一条记录 -->
	<select id="selectModuleByModId" resultType="Module">
		select * from
		modules
		<where>
			modId=#{modId}
		</where>
	</select>
	<!-- 搜索一个关于achId的记录 -->
	<select id="selectModuleByAchId" resultType="Module">
		SELECT
		achievement.achStatus,
		modules.modId,
		modules.modName,
		modules.modContent,
		modules.modDescribe,
		modules.achId
		FROM
		modules
		INNER
		JOIN achievement ON modules.achId = achievement.achId
		<where>
			achievement.achId=#{achId}
		</where>
	</select>

	<update id="updateModules" keyProperty="module.modId" useGeneratedKeys="true">
			update modules
			<set>
				<if test="module.modContent != null">
					modContent=#{module.modContent},
				</if>
				<if test="module.modName != null">
					modName=#{module.modName},
				</if>
				<if test="module.modDescribe != null">
					modDescribe=#{module.modDescribe}
				</if>
			</set>
			where
			modId=#{module.modId}


	</update>



	<insert id="insertModules" keyProperty="module.modId" useGeneratedKeys="true">
		insert into
		modules(modName,modContent,modDescribe,achId)
			values(#{module.modName},#{module.modContent},#{module.modDescribe},#{module.achId})
	</insert>
</mapper>