<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ModuleMapper">
	<!-- 插入一条更改记录 -->
	<insert id="insertModule" keyProperty="modId" useGeneratedKeys="true">
		insert into
		modules(modName,modContent,modDescribe,achId)
		values(#{modName},#{modContent},#{modDescribe},#{achId})
	</insert>
	<!-- 批量删除记录 -->
	<delete id="deleteModule">
		delete from modules
		where modId in
		<foreach collection="list" open="(" close=")" separator=","
			item="modId">
			#{modId}
		</foreach>
	</delete>
	<!-- 搜索一条记录 -->
	<select id="selectModuleByModId" resultType="Module">
		select * from
		modules
		<where>
			modId=#{modId}
		</where>
	</select>
	<!-- 搜索一条记录 -->
	<select id="selectModuleByAchId" resultType="Module">
		select * from
		modules
		<where>
			achId=#{achId}
		</where>
	</select>
	
	<update id="updateModule" keyProperty="modId" useGeneratedKeys="true">
		update modules 
		<set>
		<if test="modContent != null">
		modContent=#{modContent},
		</if>
		<if test="modName != null">
		modName=#{modName},
		</if>
		<if test="modDescribe != null">
		modDescribe=#{modDescribe}
		</if>
			</set>
			where
			modId=#{modId}
	</update>
	
	
		<update id="updateModuleByachId" >
		<foreach collection="moduleIds" item="moduleId" separator=";">
		update modules 
		<set>
		<if test="achId != null">
		achId=#{achievementId},
		</if>
		</set>
		where
			modId=#{moduleId.modId}
		</foreach>
	</update>
<insert id="insertModules" keyProperty="modId" useGeneratedKeys="true">
		insert into
		modules(modName,modContent,modDescribe)
		<foreach item="module" collection="list" separator="," close=";">
		values(#{module.modName},#{module.modContent},#{module.modDescribe})
		</foreach>

</insert>
</mapper>